body { /*changes the color of the background*/
    background-color: #FFFFFF;
    margin: 0px;
    color: #0e1111;

}
h3 { /*for the text in the headers of each section*/
    font-size: 40px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h4 { /*for the text in the projects section*/
    text-align: center;
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h5 { /*for the text in the autobiography section*/
    font-size: 22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
}
#bio { /*for the text in the autobiography section*/
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
}
a { /*removes the underline in the buttons for the header*/
    color:#0e1111;
    text-decoration: none;
}
#title { /*customizes the title*/
    font-size: 60px; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-bottom: 60px;
}
nav { /*customizes the header or navigation bar*/
    display: flex;
    background: rgb(255,229,180);
    background: linear-gradient(180deg, rgba(255,229,180,1) 70%, rgba(255,255,255,1) 100%);
    height: 200px;
    align-items: center;
    padding-bottom: 50px;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}
.button { /*customizes the buttons in the header section*/
    display: flex;
    flex-wrap: wrap;
    font-size: 32px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 35%;
    justify-content: space-evenly;
    margin-bottom: 15px;
}
#logo { /*customizes the logo*/
    height: 100px;
    border-radius: 50%;
}
#me { /*customizes the main picture*/
    height: 400px; 
    border-radius: 50%;
    border-width: 5px;
    border-color: #0e1111;
    border-style: solid;
}
.project { /*customizes the pictures of the project*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.project-item {
    border-style: solid;
    border-width: 2px;
    border-color: #0e1111;
    width: 100%;
}
.project-item1, .project-item2, .project-item3 {
    width: 30%;
    padding: 20px;
}
.featPhoto { /*customizes the main picture*/
    display: flex;
    justify-content: center;
}
.information { /*customizes the skills and the autobiography section*/
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.skills {
    flex-direction: column;
    width: 45%;
}
.skills-text {
    display: flex;
    flex-wrap: wrap;
    flex: 2;
    text-align: left;
    align-items: center;
    justify-content:space-evenly;
    gap: 2em;
}
.langPic {
    width: 17%;
}
.autobio {
    flex-direction: column;
    width: 30%;
}
.autobio-text {
    flex: 2;
    border-style: solid;
    border-width: 2px;
    border-color: #0e1111;
    text-align: left;
}
.footer { /*customizes the footer section*/
    display: flex;
    height: 250px;
    background: rgb(255,229,180);
    background: linear-gradient(0deg, rgba(255,229,180,1) 50%, rgba(255,255,255,1) 100%);
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}
#footer-logo {
    margin: 20px;
}
.footer-item {
    display: flex;
    flex-wrap: wrap;
    width: 38%;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 40px;
}
.contact-info {
    margin: 2px;
}
#back-to-top {
    text-decoration: underline;
    margin-left: 10px;
}